

/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');




@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));




/* Font classes */
.primary-font {
  font-family: "Roboto", sans-serif;
}

.secondary-font {
  font-family: "Caveat", cursive;
}
